@font-face {
    font-family: "COMIC-Cat";
    src: url("font/Comic_CAT.otf");
}

@font-face {
    font-family: "Monument-Regular";
    src: url("font/ABCMonumentGroteskSemi-Mono-Regular-Trial.otf");
}

@font-face {
    font-family: "Monument-Bold";
    src: url("font/ABCMonumentGroteskSemi-Mono-Bold-Trial.otf");
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
}

body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    font-family: "COMIC-Cat";
}

img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

input,
button,
textarea,
select {
    font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}

#root,
#__next {
    isolation: isolate;
}

ul, li {
    padding: 0;
    list-style: none;
}

#container {
    width: 100vw;
    height: 100vh;

}